* {
    margin: 0;
    padding: 0;
    box-sizing:content-box;
}
body{
    zoom: 130%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh; /* Altura mínima del viewport */
    padding: 0;
    background-image: url(../images/fondo.jpg);
    background-size: cover; /* La imagen se ajusta para hacer scroll, probar con fixed también */
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
#galeriaBody{
    zoom: 130%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh; /* Altura mínima del viewport */
    padding: 0;
    background-image: url(../images/fondo.jpg);
    background-size: cover; /* La imagen se ajusta para hacer scroll, probar con fixed también */
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    
}
#titulo{
    display: block;
    font-family: "Heebo", serif;
    color: #eee;
    font-size: large;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: #e58d00;
    box-sizing: border-box; /*Probar en Google y Firefox*/
    
}
#menu {
    display: flex;
    flex-direction: column;
    font-family: "Heebo", serif;
    background-color: #e58d00;
    color: #eee;
    padding: 10px;
    text-align: left;
}
#menu>ul>li {
    
    display: inline;
    margin-right: 20px;
    margin-bottom: 10px
}
#menu a {
    text-decoration: none;
    color: #eee;
}
#informacion{
    display: inline-flex;
    float: right;
    margin-right: 5%;
}
hr{
    width: 100%;
    height: 1px;
    background-color: #333;
    margin: 0;
}
.contenedor-opciones{
    font-family: "Heebo", serif;
    color: #eee;
    font-size: large;
    font-weight: 400;
    line-height: 1.5;
    width: 40%;
    height: 70%;
    background-color: rgba(229, 141, 0, 0.5);
    border: 1px solid white;
    margin: 5%;
    border-radius: 10px;
    padding: 20px;
    float:left;
    box-sizing: border-box;
}
#imagenHabitacion{
    width: 100%; /* La imagen ocupará el 100% del ancho del cuadro */
    margin-top: 20px; /* Añade un margen superior a la imagen */    
}
h2{
    font-family: "Heebo", serif;
    color: #eee;
    text-align: center;
}
.tabla-datos{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.tabla-datos thead{
    font-weight: bold;
    padding: 10px;
    text-align: left;

}
.tabla-datos td{
    padding: 10px;
    text-align: left;
}
.formas{
    text-align: center;
    background-color: #e58d00;
    box-sizing: border-box; /*Probar en Google y Firefox*/
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    visibility: visible;
    padding:0;
}
.formas button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 3%;
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    color: #e58d00;
}
.contenedor-opciones checkbox{
    margin-left: 150px; 
    font-size: large;
}
.informacionRelleno{
    text-align: left;
    font-size: large;

}
.styleCheckbox{
    margin-left: 10px;
}
.pie {
    text-align: center;
    padding: 10px;
    background-color: #e58d00;
    color: #fff;
    width: 100%;
    position:relative;
    bottom: 0;
    z-index: 2;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100%;
    margin-top: 20%;
}
.diff{
    text-align: left;
}
.inputNombre{
    margin-left: 30px;
    margin-bottom: 20px;
}
.nombreBoton{
    margin-top: 20px;
    float:inline-end;
}
#alerta {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Heebo", serif;
    background-color: rgba(229, 141, 0, 1);
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
#alerta p{
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}
#custom-alert button {
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
#custom-alert button:hover {
    background-color: white;
}
.contenedor-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.galeria-container {
    position: relative;
    bottom: 0;
    left: 0;
    min-width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    text-align: center;
    z-index: 1;
    margin-top: 28%;
}
.galeria-body {
    white-space: nowrap;
    transition: transform 0.3s;
}

.imagen-pequena {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.imagen-pequena img {
    width: 100px;
    height: auto;
}

.cuadro-informacion {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    width: 100%;
    height: 55%;
    margin-top: 9.6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuadro-informacion img {
    width: 32%; /* Ajusta el tamaño de la imagen pequeña en el cuadro de información */
    height: auto;
    margin-bottom: 10px; 
    margin-top: 20px;
}
/* Botones de flecha alineados con el contenedor de imágenes */
.flecha {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#izquierda {
    left: 10px;
}
#derecha {
    right: 10px;
}
.pagina-enlace {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: rgba(229, 141, 0, 1);
    background-color: white;
    border-radius: 5px;
}
/* Contenedores de tablas */
.contenedor-tablas {
    background-color: rgba(82, 75, 63, 0.7);
    box-shadow: 2000px 0 100px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow: hidden; 
    min-height: 100vh;;
}
/* Estilos de tabla */
.contenedor-tablas table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.contenedor-tablas thead {
    background-color: rgba(229, 141, 0, 1);
    color: #fff;
}
.contenedor-tablas th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/* Estilos para las filas impares */
.contenedor-tablas tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.contenedor-tablas tbody tr:nth-child(even) {
    background-color: rgba(229, 141, 0, 1);
}
/* Estilos para los enlaces de páginas */
.pagina-enlace:hover {
    background-color: rgba(229, 141, 0, 1);
    color: rgba(229, 141, 0, 1);
}
#opcionesTablas {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(229, 141, 0, 1);
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.checkbox-columna{
    float: right;
    margin-top: 4px;
    margin-right: 20px;
}
/* Estilos para el histograma */
.histogram-container {
    display: block;
    position: absolute; /* Posición absoluta para que se supeponga a la tabla*/
    margin-top: 15%;
    align-self: center;
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.bar label {
    width: 100px;
    text-align: right;
    margin-right: 10px;
    color: black;
}
.bar .bar-container {
    flex: 1;
    height: 20px;
    background-color: black;
    border-radius: 5px;
    overflow: hidden;
}
.bar .bar-value {
    height: 100%;
    background-color: rgba(229, 141, 0, 1);
    transition: width 3s;
}